@font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/gilroylight.woff2') format('woff2');
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;

    color: #000000;
    color: rgb(70, 70, 70);
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.btn {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 7px 30px;

    color: #000000;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.btn:active {
    color: rgba(0, 0, 0, 0.3);
}

.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 35%;
  left: 0%;
  width: 100%;
  height: 10px;
  background-color: rgb(240, 197, 46);
  transition-duration: 1s;
}

.btn:hover::before,
.btn:focus::before {
  top: 0%;
  height: 100%;
}

.btn:active::before {
  top: 0%;
  height: 100%;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px
    margin: -1px;
    padding: 0;

    border: 0;
}

.main-header {
    position:relative;
    background-color: rgba(240, 197, 46, 0.5);
    margin: 0;
    margin-top: 40px;
    padding-top: 33px;
    padding-left: 59px;
    padding-right: 59px;
    padding-bottom: 0;
    min-height: 299px;
    width: 100%;
    box-sizing: border-box;
}

.header-logo {
    position: absolute;
    left: 59px;
    top: -19px;
}

.header-logo img:hover,
.header-logo img:focus {
    opacity: 0.6;
}

.header-logo img:active {
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.main-header-search input[type='search'] {
    font: inherit;
    line-height: 36px;

    width: 356px;
    min-height: 49px;
    margin: 0;
    margin-right: 185px;
    margin-bottom: 31px;
    padding: 0;
    padding-left: 38px;

    opacity: 0.3;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.main-header-search input[type='search']::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.main-header-search input[type='search']::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}/* Firefox 19+ */

.main-header-search input[type='search']:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}/* Firefox 18- */

.main-header-search input[type='search']:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

/*.main-header-search input[type="search"]::before {
    content: "";
    position: absolute;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}*/

.main-header-search input[type='search']:hover {
    opacity: 0.6;
}

.main-header-search input[type='search']:focus {
    opacity: 1;
    border-right: none;
    border-bottom: 2px solid #000000;
    outline: none;
}

.main-header-search input[type='submit'] {
    display: none;

    min-height: 49px;

    color: #000000;
    border: 2px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 33px;
    left: 415px;
}

.search-field + input[type='submit']:active,
.search-field:focus + input[type='submit'] {
    display: inline-block;

    padding: 10px 20px;

    vertical-align: bottom;

    color: #000000;
    border: 2px solid #000000;
}

.main-header-search input[type='submit']:hover {
    color: #ffffff;
    background-color: #000000;
}

.main-header-search input[type='submit']:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    background-color: #000000;
}

.user-header-navigation {
    display: flex;
    justify-content: space-between;
    width: 501px;
    background-color: red;
    padding: 0;
    padding-top: 16px;
    margin: 0;
    list-style: none;
}

.user-header-navigation li {

    padding: 0;
    padding-left: 25px;
    margin: 0;
    min-width: 90px;
    white-space: nowrap;
    text-align: center;
    background-color: green;

}

.user-header-navigation li:first-of-type {
    padding-left: 25px;
}

.user-header-navigation li:nth-last-of-type(2) {

}

.user-header-navigation li:last-of-type {
    text-align: right;
    padding-right: 2px;
}

.user-header-navigation a {
    color: #000000;
}

.user-header-navigation a:hover,
.user-header-navigation a:focus {
    opacity: 0.6;
}

.user-header-navigation a:active {
    opacity: 0.3;
}

.user-header-navigation>.logout-link{
    opacity: 0.3;
    text-align: left;
    padding-left: 0;
}

.site-navigation {
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.site-navigation>li {
    display: inline-block;
    position: relative;
}

.site-navigation>li:first-of-type {
    margin-right: 318px;
}

.site-navigation a {
    display: inline;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;

    letter-spacing: 3.6px;
    text-transform: uppercase;

    color: rgb(0, 0, 0);
}

.site-navigation a:hover,
.site-navigation a:focus {
    opacity: 0.6;
}

.site-navigation a:active {
    opacity: 0.3;
}

.site-navigation>li:hover .sub-menu-container {
    display: block;
}

.sub-menu-container {
    position: absolute;
    z-index: 1;
    display: none;
    width: 1042px;
}

.sub-menu-container ul {
    width: 240px;
    margin: 0;
    margin-top: 33px;
    padding: 0;
    white-space: nowrap;
    list-style: none;
    float: left;
}

.sub-menu-container li {
    display: block;
}


.sub-menu-container a {
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    text-transform: none;
    letter-spacing: 0;
}

.main-slide b {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    color: rgb(0, 0, 0);
}

.main-slide p {
    line-height: 30px;
}

.main-slider-info-data th {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 43px;

    text-align: left;

    color: #000000;
}

.main-slider-info-options th {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;

    text-align: left;
}

.main-slider-nav {
    list-style: none;
}

.popular-service-list {
    list-style: none;
}

.popular-service-list a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;

    text-align: left;

    color: #000000;
}

.popular-service-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.service-info-tabs {
    list-style: none;
}

.service-info-tabs label:active {
    color: #f7e184;
    background-color: #000000;
}

.service-info h2 {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    color: rgb(0, 0, 0);
}

.service-info p {
    line-height: 30px;
}

.main-brands ul {
    list-style: none;
}

.main-brands a:link {
    opacity: 0.2;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: grayscale(1); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
}

.main-brands a:hover,
.main-brands a:focus {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: grayscale(); /* Firefox 4+ */
    filter: none; /* IE 6-9 */
}

.about h2,
.contacts h2 {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    color: rgb(0, 0, 0);
}

.about p,
.contacts p {
    line-height: 30px;
}

.about ul {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;

    list-style-type: circle;
}

.footer {
    color: #ffffff;
    background-color: #464646;
}

.footer a {
    color: #ffffff;
}

.footer-logo img:hover,
.footer-logo img:focus {
    opacity: 0.6;
}

.footer-logo img:active {
    opacity: 0.3;
}

.footer-user-navigation li {
    list-style: none;
}

.footer-user-navigation a:active {
    opacity: 0.3;
}

.footer-navigation li {
    list-style: none;
}

.footer-navigation a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;

    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    opacity: 0.6;
}

.footer-navigation a:active {
    opacity: 0.3;
}

.footer-social {
    list-style: none;
}

.social-button:link {
    opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
    opacity: 0.6;
}

.social-button:active {
    opacity: 0.1;
}

.copyright:hover,
.copyright:focus {
    opacity: 0.6;
}

.copyright:active {
    opacity: 0.3;
}

.filters-heading,
.sorting-heading {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;

    color: rgb(0, 0, 0);
}

.write-us-form label,
.write-us-form .label {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;

    color: rgb(0, 0, 0);
}

.write-us-form input[type='text']:valid,
.write-us-form input[type='email']:valid,
.write-us-form textarea {
    box-sizing: border-box;
    width: 358px;
    height: 51px;
    padding-left: 10px;

    opacity: 0.4;
    color: rgba(46, 46, 46, 0.4);
    border: none;
    background-color: rgba(230, 230, 230, 0.5);
}

.write-us-form textarea {
    width: 758px;
    min-height: 155px;
    padding-top: 15px;
}

.write-us-form input[type='text']:valid:hover,
.write-us-form input[type='email']:valid:hover,
.write-us-form textarea:hover {
    background-color: rgba(230, 230, 230, 0.8);
}

.write-us-form input[type='text']:valid:focus,
.write-us-form input[type='email']:valid:focus,
.write-us-form textarea:focus {
    padding-left: 7px;

    opacity: 1;
    color: #000000;
    border: 3px solid rgba(240, 197, 46, 0.5);
    outline: none;
    background-color: #ffffff;
}

.write-us-form textarea:focus {
    padding-top: 12px;
}

.write-us-form input[type='email']:invalid {
    box-sizing: border-box;
    width: 358px;
    height: 51px;
    padding-left: 10px;
    color: rgba(70, 70, 70, 0.4);
    outline: none;
    border: none;
    background-color: rgba(237, 181, 181, 1);
}

.main-heading {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    color: rgba(0, 0, 0, 1);
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;

    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.filters h2,
.sorting h2 {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 1);
}

.filters fieldset {
    border: none;
}

.filters legend {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;

    color: rgba(0, 0, 0, 1);
}

.filters-costs input[type='text']:disabled {
    box-sizing: border-box;

    opacity: 0.2;
    border: none;
    background-color: rgba(0, 0, 0, 0);;
}

.filters ul {
    list-style: none;
}

.filters-color label,
.filters-bluetooth label {
    font-size: 14px;
    line-height: 40px;
}

.sorting ul {
    list-style: none;
}

.sorting a {
    font-size: 14px;
    line-height: 18px;

    opacity: 0.3;
    color: #000000;
}

.sorting a:hover,
.sorting a:focus {
    opacity: 0.6;
}

.sorting a:active,
.sorting .active {
    opacity: 1;
}

.sorting a:visited {
    opacity: 0.3;
}

.catalog-item h1 {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
}

.catalog-item a {
    color: rgb(0, 0, 0);
}

.catalog-item .compare {
    font-size: 13px;
    line-height: 36px;

    color: rgba(0, 0, 0, 0.5);
}

.catalog-item .compare:hover,
.catalog-item .compare:focus {
    color: rgba(0, 0, 0, 1);
}

.catalog-item .compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-item .catalog-item-price {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.pagination-list {
    list-style: none;
}

.pagination-list a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.3);
}

.pagination-list a:hover,
.pagination-list a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:active {
    color: rgba(0, 0, 0, 1);
}

.pagination-list .pagination-item-current {
    color: rgba(0, 0, 0, 1);
}

.pagination-list button {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;

    min-height: 70px;
    padding: 0 30px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 1);
    border: none;
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list button:hover,
.pagination-list button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.16);
}

.pagination-list button:active {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
    background-color: rgba(0, 0, 0, 0.16);
}
