@font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/gilroylight.woff2') format('woff2');
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;

    color: #000000;
    color: rgb(70, 70, 70);
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    width: 1164px;
    margin: 0 auto;
}

.btn {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #000000;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.btn:active {
    font-color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px
    margin: -1px;
    padding: 0;

    border: 0;
}

.header-logo img:hover,
.header-logo img:focus {
    opacity: 0.6;
}

.header-logo img:active {
    opacity: 0.3;
}


.main-header-search input[type='search'] {
    font: inherit;
    line-height: 36px;

    width: 356px;
    min-height: 49px;
    margin: 0;
    padding: 0;

    opacity: 0.3;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.main-header-search input[type='search']:hover {
    opacity: 0.6;
}

.main-header-search input[type='search']:focus {
    opacity: 1;
    border-right: none;
    border-bottom: 2px solid #000000;
    outline: none;
}

.main-header-search input[type='submit'] {
    display: none;

    min-height: 49px;
    margin-left: -4px;

    color: #000000;
    border: 2px solid #000000;
    background-color: rgba(0, 0, 0, 0);
}

.search-field + input[type='submit']:active,
.search-field:focus + input[type='submit'] {
    display: inline-block;

    margin-left: -4px;
    padding: 10px 20px;

    vertical-align: bottom;

    color: #000000;
    border: 2px solid #000000;
}

.main-header-search input[type='submit']:hover {
    color: #ffffff;
    background-color: #000000;
}

.main-header-search input[type='submit']:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    background-color: #000000;
}

.user-header-navigation li {
    list-style: none;
}

.user-header-navigation a {
    color: #000000;
}
.user-header-navigation a:hover,
.user-header-navigation a:focus {
    opacity: 0.6;
}

.user-header-navigation a:active {
    opacity: 0.3;
}

.logout-link {
    opacity: 0.3;
}

.site-navigation li {
    list-style: none;
}

.site-navigation a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: rgb(0, 0, 0);
}

.site-navigation a:hover,
.site-navigation a:focus {
    opacity: 0.6;
}

.site-navigation a:active {
    opacity: 0.3;
}

.sub-menu a {
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
}

.main-slide b {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    color: rgb(0, 0, 0);
}

.main-slide p {
    line-height: 30px;
}

.main-slider-info-data th {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 43px;

    text-align: left;

    color: #000000;
}

.main-slider-info-options th {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;

    text-align: left;
}

.main-slider-nav {
    list-style: none;
}

.popular-service-list {
    list-style: none;
}

.popular-service-list a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;

    text-align: left;

    color: #000000;
}

.popular-service-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.service-info-tabs {
    list-style: none;
}

.service-info-tabs label:active {
    color: #f7e184;
    background-color: #000000;
}

.service-info h2 {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    color: rgb(0, 0, 0);
}

.service-info p {
    line-height: 30px;
}

.main-brands ul {
    list-style: none;
}

.main-brands a:link {
    opacity: 0.2;
}

.main-brands a:hover,
.main-brands a:focus {
    opacity: 1;
}

.about h2,
.contacts h2 {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    color: rgb(0, 0, 0);
}

.about p,
.contacts p {
    line-height: 30px;
}

.about ul {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;

    list-style-type: circle;
}

.footer {
    color: #ffffff;
    background-color: #464646;
}

.footer a {
    color: #ffffff;
}

.footer-logo img:hover,
.footer-logo img:focus {
    opacity: 0.6;
}

.footer-logo img:active {
    opacity: 0.3;
}

.footer-user-navigation li {
    list-style: none;
}

.footer-user-navigation a:active {
    opacity: 0.3;
}

.footer-navigation li {
    list-style: none;
}

.footer-navigation a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;

    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    opacity: 0.6;
}

.footer-navigation a:active {
    opacity: 0.3;
}

.footer-social {
    list-style: none;
}

.social-button:link {
    opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
    opacity: 0.6;
}

.social-button:active {
    opacity: 0.1;
}

.copyright:hover,
.copyright:focus {
    opacity: 0.6;
}

.copyright:active {
    opacity: 0.3;
}

.filters-heading,
.sorting-heading {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;

    color: rgb(0, 0, 0);
}

.write-us-form label,
.write-us-form .label {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;

    color: rgb(0, 0, 0);
}

.write-us-form input[type='text']:valid,
.write-us-form input[type='email']:valid,
.write-us-form textarea {
    box-sizing: border-box;
    width: 358px;
    height: 51px;
    padding-left: 10px;

    opacity: 0.4;
    color: rgba(46, 46, 46, 0.4);
    border: none;
    background-color: rgba(230, 230, 230, 0.5);
}

.write-us-form textarea {
    width: 758px;
    min-height: 155px;
    padding-top: 15px;
}

.write-us-form input[type='text']:valid:hover,
.write-us-form input[type='email']:valid:hover,
.write-us-form textarea:hover {
    background-color: rgba(230, 230, 230, 0.8);
}

.write-us-form input[type='text']:valid:focus,
.write-us-form input[type='email']:valid:focus,
.write-us-form textarea:focus {
    padding-left: 7px;

    opacity: 1;
    color: #000000;
    border: 3px solid rgba(240, 197, 46, 0.5);
    outline: none;
    background-color: #ffffff;
}

.write-us-form textarea:focus {
    padding-top: 12px;
}

.write-us-form input[type='email']:invalid {
    box-sizing: border-box;
    width: 358px;
    height: 51px;
    padding-left: 10px;
    color: rgba(70, 70, 70, 0.4);
    outline: none;
    border: none;
    background-color: rgba(237, 181, 181, 1);
}

/*.write-us-form input[type='text']:valid,
.write-us-form input[type='email']:valid {
  opacity: 0.4;
  color: rgba(46, 46, 46, 1);
  border: none;
  background-color: rgba(230, 230, 230, 0.5);
}*/

.main-heading {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    color: rgba(0, 0, 0, 1);
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;

    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.filters h2,
.sorting h2 {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 1);
}

.filters fieldset {
    border: none;
}

.filters legend {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;

    color: rgba(0, 0, 0, 1);
}

.filters-costs input[type='text']:disabled {
    box-sizing: border-box;

    opacity: 0.2;
    border: none;
    background-color: rgba(0, 0, 0, 0);;
}

.filters ul {
    list-style: none;
}

.filters-color label,
.filters-bluetooth label {
    font-size: 14px;
    line-height: 40px;
}

.sorting ul {
    list-style: none;
}

.sorting a {
    font-size: 14px;
    line-height: 18px;

    opacity: 0.3;
    color: #000000;
}

.sorting a:hover,
.sorting a:focus {
    opacity: 0.6;
}

.sorting a:active,
.sorting .active {
    opacity: 1;
}

.sorting a:visited {
    opacity: 0.3;
}

.catalog-item h1 {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
}

.catalog-item a {
    color: rgb(0, 0, 0);
}

.catalog-item .compare {
    font-size: 13px;
    line-height: 36px;

    color: rgba(0, 0, 0, 0.5);
}

.catalog-item .compare:hover,
.catalog-item .compare:focus {
    color: rgba(0, 0, 0, 1);
}

.catalog-item .compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-item .catalog-item-price {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.pagination-list {
    list-style: none;
}

.pagination-list a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.3);
}

.pagination-list a:hover,
.pagination-list a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:active {
    color: rgba(0, 0, 0, 1);
}

.pagination-list .pagination-item-current {
    color: rgba(0, 0, 0, 1);
}

.pagination-list button {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;

    min-height: 70px;
    padding: 0 30px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 1);
    border: none;
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list button:hover,
.pagination-list button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.16);
}

.pagination-list button:active {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
    background-color: rgba(0, 0, 0, 0.16);
}
